/* Body Content */

body, footer, header {
	font-family: sans-serif;
}

#content {
	background-color: #808080;
	padding: 20px;
}

a:hover {
	text-decoration: none;
}


/* Image */	

img {
	width: 500px;
	margin-top: 10px;
	margin-left: 10px;
}




